[
  {
    "ParameterKey": "ClusterName",
    "ParameterValue": "{{ CLUSTER_NAME }}"
  },
  {
    "ParameterKey": "InfrastructureName",
    "ParameterValue": "{{ INFRA_ID }}"
  },
  {
    "ParameterKey": "HostedZoneId",
    "ParameterValue": "{{ hostedzoneid }}"
  },
  {
    "ParameterKey": "HostedZoneName",
    "ParameterValue": "{{ BASE_DOMAIN }}"
  },
  {
    "ParameterKey": "PublicSubnets",
    "ParameterValue": "{{ public_subnet }}"
  },
  {
    "ParameterKey": "PrivateSubnets",
    "ParameterValue": "{{ private_subnet }}"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "{{ vpc_id }}"
  }
]
